<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <table id='hang' class='table-striped table-bordered table-hover' cellspacing= '0' width= '100%'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Hóa đơn</th>
          <th></th>
          <th>Vật liệu</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Ghi chú</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @hangs %>
      </tbody>
    </table>
    <%= render 'new' %>
    <%= render 'edit' %>
  </div>
</div>
