<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <table id='hoa_don' class='table-striped table-bordered table-hover' cellspacing= '0' width= '100%'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Thời gian</th>
          <th></th>
          <th>Nhà cung cấp</th>
          <th>Người kí</th>
          <th>Tổng tiền</th>
          <th>Thanh toán</th>
          <th>Tiền bớt</th>
          <th>Số dư</th>
          <th>Ghi chú</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @hoa_dons %>
      </tbody>
    </table>
    <%= render 'new' %>
    <%= render 'edit' %>
  </div>
</div>
