= render_object khoan_vay, KhoanVay::SHOW_ATTRS, edit_khoan_vay_path(khoan_vay), nil, false, {'Trả nợ' => new_tra_no_path(khoan_vay_id: khoan_vay.id), 'Lịch sử' => tra_nos_path(khoan_vay_id: khoan_vay.id)}
