<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <table id='tra_no' class='table-striped table-bordered table-hover' cellspacing= '0' width= '100%'>
      <thead>
        <tr>
          <th>Số tiền</th>
          <th>Created at</th>
          <th>Ghi chú</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tra_nos %>
      </tbody>
    </table>
  </div>
</div>